<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1TkXQRsLWBS_dpTQjepo2lW5NyQxpTaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312643880404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roundedcornerinc.reword</string>
	<key>PROJECT_ID</key>
	<string>reword-66c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>reword-66c5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312643880404:ios:bf35a679280c18b35e4241</string>
</dict>
</plist>